*venv*/
.python-version
__pycache__/
*.pyc
.vscode/
*Dockerfile*.test

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

container-app-test.code-workspace
